<div crm-ui-field="{title: ts('Subject')}">
    <div ng-hide="crmSubjectReview.edit">
      	{{mailing.subject}}
      	<a class="crm-hover-button action-item" ng-click="crmSubjectReview.toggleEdit()">{{ts('Edit')}}</a>
    </div>
    <div ng-show="crmSubjectReview.edit">
      	<input class="crm-form-text" name="subject" ng-model="mailing.subject" ng-show="crmSubjectReview.edit">
      	<a class="crm-hover-button action-item" ng-click="crmSubjectReview.toggleEdit()">{{ts('Done')}}</a>
    </div>
</div>
